<%- include('includes/head.ejs') %>
</head>

<body>
    <header class="main-header">
        <%- include('includes/nav.ejs') %>
    </header>
    <h1>Page Not Found!</h1>

<%- include('includes/end.ejs') %>